button.btn-success {
  width: 20%;
  min-width: 140px;
  border-radius: 20px;
  float: left;
}

button.order {
  margin-top: 15px;
  float: right;
}

select.form-select {
  width: 55px;
  float: left;
  margin-right: 10px;
}

select:hover {
  cursor: pointer;
}

td:nth-child(3) {
  min-width: 300px;
  display: flex;
  justify-content: center;
}

i.fa-trash:hover {
  cursor: pointer;
}
