main {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

section.contact {
  padding-top: 7%;
}

section.contact:first-child {
  display: flex;
  justify-content: end;
}

section > div {
  width: 40%;
}

h2 {
  font-family: "Lobster", sans-serif;
}

ul.contactData > li {
  font-size: 18px;
  list-style-type: none;
}

section.map-responsive {
  overflow: hidden;
  position: relative;
  height: 700px;
}

section.map-responsive iframe {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  main {
    display: block;
  }

  section.contact {
    width: 90vw;
  }

  section.contact:first-child {
    justify-content: center;
  }

  section.map-responsive {
    padding-left: 0%;
    padding-right: 0%;

  }
}
