main {
  margin-top: 120px;
  margin-bottom: 250px;
}

h1,
span {
  font-family: "Lobster", sans-serif;
}

h1 {
  font-size: 32px;
}

form {
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 15px;
  background-color: rgba(225, 250, 158, 0.4);
  margin-top: 20px;
  padding: 5% 2%;
  min-width: 370px;
  text-align: center;
}

section:first-child {
  margin-bottom: 4%;
}

section.loginSignup {
  min-width: 400px;
  padding: 3%;
}

input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 5px;
  width: 70%;
  height: 35px;
  background-color: transparent;
  padding: 5px 20px;
}

form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #198754;
}

form input[type="checkbox"]:hover {
  cursor: pointer;
}

.submit {
  width: 20%;
  min-width: 85px;
  margin-top: 20px;
  border-radius: 20px;
}

p.text-danger {
  margin-top: 10px;
  font-size: 14px;
}

p.success {
  text-align: center;
  margin: auto;
}

@media only screen and (max-width: 1200px) {
  main {
    margin-top: 100px;
  }

  section.col-md-6 {
    padding: inherit;
  }

  main.container-fluid {
    display: grid;
    justify-content: center;
  }

  i.fa-arrow-right {
    transform: rotate(90deg);
  }
}

@media only screen and (max-width: 768px) {
}
