* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: rgba(253, 253, 185, 0.8);
}

nav {
  font-size: 1.5vw;
  background-color: rgba(200, 245, 177);
  letter-spacing: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

div.navbar-collapse {
  justify-content: center;
}

a.navbar-brand {
  font-size: 32px;
  font-family: "Audiowide", sans-serif;
}

li.nav-item {
  padding-left: 2.7em;
  text-transform: uppercase;
}

a.nav-link {
  position: relative;
}

a.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: rgba(158, 190, 141);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a.nav-link:hover:after {
  width: 100%;
  left: 0;
}
@media only screen and (max-width: 1565px) {
    nav {
        letter-spacing: 0.1rem;
    }
}
@media only screen and (max-width: 1200px) {

  li.nav-item {
    font-size: 1.8vw;
    letter-spacing: 0.1rem;
    padding-left: 0.2em;
  }
}

@media only screen and (max-width: 992px) {
  li.nav-item {
    font-size: 13px;
  }
}
